@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' !important;
  /* overflow-x: hidden; */

}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.upper {
  margin: auto;
}

.upperTitle {
  margin-top: 70px;
}

.upperImg {
  z-index: 1;
  position: absolute;
  margin-left: 700px;
}

.tentangGempa {
  margin: auto;
  margin-top: 150px;
}

.aBtn {
  background-color: orange;
  color: white;
  height: 50px;
}

.containerFaq {
  margin: 0 auto;
  width: 100;
}

.accordion .accordion-item {
  border: 1px solid #eec615;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.accordion-title {
  width: 50%;
}

/* .accordion .accordion-item button[aria-expanded='true'] {
    border: 1px solid #03b5d2;
  }
   */
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #eec615;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #eec615;
  border: 1px solid #eec615;
}

.accordion button .accordion-title {
  padding: 2em 3em 2em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #eec615;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 50em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  text-align: justify;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.cardNews:hover .newsDesc {
  color: #eec615;
}

.cardNews{
  height: 200px;
  overflow: hidden;
}

.zoomIn {
  transition: transform 1s ease;
}

.zoomIn:hover {
  transform: scale(1.1);
}

.footerCont {
  background-color: #ABBA7C;
  color: white;
}

.aboutContainer {
  margin: auto;
  width: 100%;
}

.wrapper {
  margin: auto;
  padding: 0;
  max-width: fit-content;
  height: 300px;
  border: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.image-box {
  overflow: hidden;
  width: 350px;
  

}
.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }
}